<!-- With [ngClass] , This reminder within the {} states if  it is true then reminder on the view.  -->
<div [ngClass] = "{reminder: taskItems.reminder}" class="task" (dblclick) = "onToggle(taskItems)">
    Vertical bar are reminders!!!
    <h3>
        <!-- {{taskItems.text}} <class="fa fa-times"  [ngStyle] = {'color' : 'red'} [icon]="faTimes"> -->
            
            {{taskItems.text}} 
            <!-- <fa-icon class = "fas-Times" [icon]='faTimes'></fa-icon> -->
            <fa-icon (click) = "onDelete(taskItems)" [ngStyle] = "{'color': 'red'}" [icon]="faTimes"></fa-icon>
    </h3>
    <p>{{taskItems.day}}</p>
</div>

<!-- https://www.youtube.com/watch?v=lp_D-E9DtCU -->